RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_URI} !\.(?:css|js|jpe?g|gif|png)$ [NC]
RewriteCond %{REQUEST_FILENAME} !\.(css|js|png|jpg)$
RewriteRule ^([^/]*)/view/([^/]*).html    index.php?t=$1&pg=view&view=$2  [NC]    # Handle product requests
RewriteRule ^([^/]*)/view/([^/]*)/page([^/]*).html$    index.php?t=$1&pg=view&view=$2&page=$3  [NC]    # Handle product requests
RewriteRule ^([^/]*)/add.php    index.php?t=$1&pg=add  [NC]    # Handle product requests
RewriteRule ^([^/]*)/edit/([^/]*).html    index.php?t=$1&pg=add&val=$2  [NC]    # Handle product requests
RewriteRule ^content/([^/]*).htm$    index.php?pg=content&view=$1  [NC]    # Handle product requests
ErrorDocument 403 "/?pg=404"
ErrorDocument 404 "/?pg=404"
